/*WELCOME PAGE CSS*/
/*codepen for background animation inspiration found here: https://codepen.io/joyanna/pen/NWGYLNW */

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css?family=Public Sans');
@import url('https://fonts.googleapis.com/css?family=Fredoka One');

:root {
    background: linear-gradient(#00192f, #003054);
    color: white;
    font-family: 'Public Sans';
    --bg_opacity: #f7195000;
    --pink: #cc008d;
    --blue: #00afd2;
    --dark: #00192f;
    --grad: linear-gradient(#00192f 0%, #003054 100%);
    --opacity: rgba(0, 0, 0, 0);
}

/*==========================================================
=====================desktop CSS==========================*/

/*==================custom scrollbar=========================
==============for chrome, safari, edge and oper============*/

::-webkit-scrollbar { /*===width of the scrollbar===*/
    width: 7px;
}
  
::-webkit-scrollbar-track {  /*===color of track===*/
    background: var(--dark);
}

::-webkit-scrollbar-thumb { /*===color of handle===*/
    background: var(--pink);
}
  
::-webkit-scrollbar-thumb:hover { /*===color of handle on hover===*/
    background: #500037;
}

/*======================end of==============================
===================custom scrollbar=======================*/

html, body{
    min-height: 100vh;
    overflow: hidden;
    margin: 0%;
    position: relative;

    /*customization for scrollbar for Firefox*/
    scrollbar-width: thin;          
    scrollbar-color: var(--pink) var(--dark);
}

body {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;    
}

.welcome {
    display: block;
    grid-column: 2 / 4;
    justify-content: center;
    margin: 0 auto 0 auto;
    z-index: 1;
    font-family: 'Fredoka One';
    font-weight: normal;
    text-transform: capitalize;    
    font-size: 10rem;
    background: linear-gradient(90deg, #cc008d 0%, #00afd2 100%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    text-align: center;
    margin-top: 350px;
}

.welcometag {
    text-align: center;
    position: relative;
    font-family: 'Public Sans';
    color: var(--blue);
    font-weight: bold;
    text-transform: none;
    font-size: 2.75rem;
    text-decoration: none;      
}

.welcometag:hover{
    color: var(--pink);
    font-size: 2.5rem;
    transition: 0.75s;
    font-weight: bold;
}

.blink {
    color: var(--pink);
    position: relative;
    display: inline-block;
    animation: blink-animation 1s linear infinite;
    -webkit-animation: blink-animation 1s linear infinite;
}

.circles {
    width: 100%;
    height: 100%;
    margin: 0;
}

#small-circle { 
    display: flex;
    grid-column: 1 / 2;
    position: absolute;
    justify-content: center;
    z-index: 0;
    top: 0px;
    left: 0px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: linear-gradient(var(--pink), var(--blue));    
    animation: small-circle 3s ease-in-out 0s infinite alternate;
    -moz-animation: small-circle 3s ease-in-out 0s infinite alternate;
    -ms-animation: small-circle 3s ease-in-out 0s infinite alternate;
    -o-animation: small-circle 3s ease-in-out 0s infinite alternate;
    -webkit-animation: small-circle 3s ease-in-out 0s infinite alternate;
}

#medium-circle { 
    display: flex;
    grid-column: 1 / 2;
    position: absolute;
    z-index: 0;
    top: 120px;
    left: 200px;
    width: 200px;
    height: 200px;
    opacity: 0.7;
    border-radius: 50%;
    background: linear-gradient(var(--pink), var(--blue));
    animation: rotation 8s linear infinite;
    -moz-animation: rotation 8s linear infinite;
    -ms-animation: rotation 8s linear infinite;
    -o-animation: rotation 8s linear infinite;
    -webkit-animation: rotation 8s linear infinite;
}

#big-circle { 
    display: flex;
    grid-column: 3 / 4;
    position: absolute;
    z-index: -1;
    left: 400px;
    bottom: 0px;
    height: 400px;
    width: 400px;
    opacity: 0.4;
    border-radius: 50%;
    background: linear-gradient(var(--pink), var(--blue));
    animation: big-circle 15s ease-in-out 0s infinite alternate;
    -moz-animation: big-circle 15s ease-in-out 0s infinite alternate;
    -ms-animation: big-circle 15s ease-in-out 0s infinite alternate;
    -o-animation: big-circle 15s ease-in-out 0s infinite alternate;
    -webkit-animation: big-circle 5s ease-in-out 0s infinite alternate;
}

#dotted-circle {
    display: flex;
    grid-column: 4 / 4;
    position: absolute;
    z-index: -1;
    right: -350px;
    top: 70px;
    height: 1000px;
    width: 1000px;
    border-radius: 50%;
    border: 3px dashed var(--pink);
    animation: rotation 60s linear infinite;
    -moz-animation: rotation 60s linear infinite;
    -ms-animation: rotation 60s linear infinite;
    -o-animation: rotation 60s linear infinite;
    -webkit-animation: rotation 60s linear infinite;
}

#bluedotted-circle {
    display: flex;
    grid-column: 1 / 1;
    position: absolute;
    z-index: 0;
    left: -300px;
    top: -500px;
    height: 1000px;
    width: 1000px;
    border-radius: 50%;
    border: 3px dashed var(--blue);
    animation: rotation 60s linear infinite;
    -moz-animation: rotation 60s linear infinite;
    -ms-animation: rotation 60s linear infinite;
    -o-animation: rotation 60s linear infinite;
    -webkit-animation: rotation 60s linear infinite;
}

#giant-circle {
    display: flex;
    grid-column: 1 / 2;
    position: absolute;
    z-index: -1;
    top: 600px;
    left: -100px;
    width: 700px;
    height: 700px;
    border-radius: 50%;
    background: repeating-linear-gradient(-45deg, var(--pink), var(--pink) 10px, var(--opacity) 10px, var(--opacity) 20px);
}

#radius-circle {
    display: flex;
    grid-column: 1 / 2;
    position: absolute;
    z-index: 1;
    top: 30px;
    left: 500px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--pink); 
}

#line-anim {
    display: flex;
    grid-column: 4 / 4;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 20px;
    width: 2px;
    height: 1px;
    background: var(--blue);
    animation: line-anim 12s 0s ease-in-out alternate infinite;
    -webkit-animation: line-anim 12s 0s ease-in-out alternate infinite;
    -moz-animation: line-anim 12s 0s ease-in-out alternate infinite;
    -ms-animation: line-anim 12s 0s ease-in-out alternate infinite;
    -o-animation: line-anim 12s 0s ease-in-out alternate infinite;
}

/*======================end of==============================
=====================desktop CSS==========================*/


/*==========================================================
======================tablet CSS==========================*/

@media screen and (max-width: 1698px) and (min-device-width: 920px) and (orientation: portrait) {

    .welcome {
        display: block;
        grid-column: 2 / 4;
        justify-content: center;
        margin: 0 auto 0 auto;
        z-index: 1;
        font-family: 'Fredoka One';
        font-weight: normal;
        text-transform: capitalize;    
        font-size: 10rem;
        background: linear-gradient(90deg, #cc008d 0%, #00afd2 100%);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        text-align: center;
        margin-top: 500px;
    }

    .circles {
        width: 100%;
        height: 100%;
        margin: 0;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
    }
    
    #small-circle { 
        display: flex;
        grid-column: 1 / 1;
        position: absolute;
        margin: 0 auto;
        z-index: 0;
        top: 0px;
        left: 0px;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background: linear-gradient(var(--pink), var(--blue));    
        animation: small-circle 3s ease-in-out 0s infinite alternate;
        -moz-animation: small-circle 3s ease-in-out 0s infinite alternate;
        -ms-animation: small-circle 3s ease-in-out 0s infinite alternate;
        -o-animation: small-circle 3s ease-in-out 0s infinite alternate;
        -webkit-animation: small-circle 3s ease-in-out 0s infinite alternate;
    }
    
    #medium-circle { 
        display: flex;
        grid-column: 1 / 2;
        position: absolute;
        z-index: 0;
        top: 120px;
        left: 200px;
        width: 200px;
        height: 200px;
        opacity: 0.7;
        border-radius: 50%;
        background: linear-gradient(var(--pink), var(--blue));
        animation: rotation 8s linear infinite;
        -moz-animation: rotation 8s linear infinite;
        -ms-animation: rotation 8s linear infinite;
        -o-animation: rotation 8s linear infinite;
        -webkit-animation: rotation 8s linear infinite;
    }
    
    #big-circle { 
        display: flex;
        grid-column: 3 / 4;
        position: absolute;
        z-index: -1;
        left: 200px;
        bottom: 0px;
        height: 400px;
        width: 400px;
        opacity: 0.4;
        border-radius: 50%;
        background: linear-gradient(var(--pink), var(--blue));
        animation: big-circle 15s ease-in-out 0s infinite alternate;
        -moz-animation: big-circle 15s ease-in-out 0s infinite alternate;
        -ms-animation: big-circle 15s ease-in-out 0s infinite alternate;
        -o-animation: big-circle 15s ease-in-out 0s infinite alternate;
        -webkit-animation: big-circle 5s ease-in-out 0s infinite alternate;
    }
    
    #dotted-circle {
        display: flex;
        grid-column: 4 / 4;
        position: absolute;
        z-index: -1;
        right: -350px;
        top: 300px;
        height: 1000px;
        width: 1000px;
        border-radius: 50%;
        border: 3px dashed var(--pink);
        animation: rotation 60s linear infinite;
        -moz-animation: rotation 60s linear infinite;
        -ms-animation: rotation 60s linear infinite;
        -o-animation: rotation 60s linear infinite;
        -webkit-animation: rotation 60s linear infinite;
    }
    
    #bluedotted-circle {
        display: flex;
        grid-column: 1 / 1;
        position: absolute;
        z-index: 0;
        left: -300px;
        top: -500px;
        height: 1000px;
        width: 1000px;
        border-radius: 50%;
        border: 3px dashed var(--blue);
        animation: rotation 60s linear infinite;
        -moz-animation: rotation 60s linear infinite;
        -ms-animation: rotation 60s linear infinite;
        -o-animation: rotation 60s linear infinite;
        -webkit-animation: rotation 60s linear infinite;
    }
    
    #giant-circle {
        display: flex;
        grid-column: 1 / 2;
        position: absolute;
        z-index: -1;
        top: 1000px;
        left: -100px;
        width: 700px;
        height: 700px;
        border-radius: 50%;
        background: repeating-linear-gradient(-45deg, var(--pink), var(--pink) 10px, var(--opacity) 10px, var(--opacity) 20px);
    }
    
    #radius-circle {
        display: flex;
        grid-column: 2 / 3;
        position: absolute;
        z-index: 0;
        top: 50px;
        left: 400px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 2px solid var(--pink); 
    }
    
    #line-anim {
        display: flex;
        grid-column: 4 / 4;
        position: absolute;
        z-index: 1;
        top: 0px;
        right: 20px;
        width: 2px;
        height: 1px;
        background: var(--blue);
        animation: line-anim 12s 0s ease-in-out alternate infinite;
        -webkit-animation: line-anim 12s 0s ease-in-out alternate infinite;
        -moz-animation: line-anim 12s 0s ease-in-out alternate infinite;
        -ms-animation: line-anim 12s 0s ease-in-out alternate infinite;
        -o-animation: line-anim 12s 0s ease-in-out alternate infinite;
    }
}

/*======================end of==============================
======================tablet CSS==========================*/


/*==========================================================
======================mobile CSS==========================*/

@media screen and (max-width:921px) {

    body {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        
        /*customization for scrollbar for Firefox*/
        scrollbar-width: thin;          
        scrollbar-color: var(--pink) var(--dark);
    }

    .welcome {
        display: block;
        grid-column: 1 / 4;
        justify-content: center;
        margin: 0 auto 0 auto;
        z-index: 1;
        font-family: 'Fredoka One';
        font-size: 4rem;
        background: linear-gradient(90deg, #cc008d 0%, #00afd2 100%);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        text-align: center;
        margin-top: 40vh;
    }

    .welcometag {
        text-align: center;
        position: relative;
        font-family: 'Public Sans';
        color: var(--blue);
        font-weight: normal;
        text-transform: none;
        font-size: 1.2rem;
        text-decoration: none;
    }
    
    .welcometag:hover{
        color: var(--pink);
        font-size: 1rem;
        transition: 0.75s;
        font-weight: bold;
    }
        
    .blink {
        color: var(--blue);
        position: relative;
        display: inline-block;
        animation: blink-animation 1s linear infinite;
        -webkit-animation: blink-animation 1s linear infinite;
    }

    .circles {
        width: 100%;
        height: 100%;
        margin: 0;
    }

    #small-circle { 
        display: flex;
        grid-column: 1 / 2;
        position: absolute;
        justify-content: center;
        z-index: 0;
        top: -100px;
        left: 0px;
        height: 7vw;
        width: 7vw;
        border-radius: 50%;
        background: linear-gradient(var(--pink), var(--blue));   
        animation: small-circle 3s ease-in-out 0s infinite alternate;
        -moz-animation: small-circle 3s ease-in-out 0s infinite alternate;
        -ms-animation: small-circle 3s ease-in-out 0s infinite alternate;
        -o-animation: small-circle 3s ease-in-out 0s infinite alternate;
        -webkit-animation: small-circle 3s ease-in-out 0s infinite alternate;
    }

    #medium-circle { 
        display: flex;
        grid-column: 1 / 2;
        position: absolute;
        z-index: 0;
        top: 120px;
        left: 20vw;
        width: 20vw;
        height: 20vw;
        opacity: 0.7;
        border-radius: 50%;
        background: linear-gradient(var(--pink), var(--blue));        
        animation: rotation 8s linear infinite;
        -moz-animation: rotation 8s linear infinite;
        -ms-animation: rotation 8s linear infinite;
        -o-animation: rotation 8s linear infinite;
        -webkit-animation: rotation 8s linear infinite;
    }
    
    #big-circle { 
        display: flex;
        grid-column: 3 / 4;
        position: absolute;
        z-index: -1;
        left: 25vw;
        bottom: 0px;
        height: 35vw;
        width: 35vw;
        opacity: 0.4;
        border-radius: 50%;
        background: linear-gradient(var(--pink), var(--blue));
        animation: big-circle 15s ease-in-out 0s infinite alternate;
        -moz-animation: big-circle 15s ease-in-out 0s infinite alternate;
        -ms-animation: big-circle 15s ease-in-out 0s infinite alternate;
        -o-animation: big-circle 15s ease-in-out 0s infinite alternate;
        -webkit-animation: big-circle 5s ease-in-out 0s infinite alternate;
    }
    
    #dotted-circle {
        display: flex;
        grid-column: 4 / 4;
        position: absolute;
        z-index: -1;
        right: 50vw;
        top: -30vh;
        height: 100vw;
        width: 100vw;
        border-radius: 50%;
        border: 3px dashed var(--blue);
        animation: rotation 60s linear infinite;
        -moz-animation: rotation 60s linear infinite;
        -ms-animation: rotation 60s linear infinite;
        -o-animation: rotation 60s linear infinite;
        -webkit-animation: rotation 60s linear infinite;
    }
    
    #blue-dotted-circle {
        display: flex;
        grid-column: 1 / 1;
        position: absolute;
        z-index: 0;
        left: 60vw;
        top: 30vh;
        height: 90vw;
        width: 90vw;
        border-radius: 50%;
        border: 3px dashed var(--pink);        
        animation: rotation 60s linear infinite;
        -moz-animation: rotation 60s linear infinite;
        -ms-animation: rotation 60s linear infinite;
        -o-animation: rotation 60s linear infinite;
        -webkit-animation: rotation 60s linear infinite;
    }

    #giant-circle {
        display: flex;
        grid-column: 1 / 2;
        position: absolute;
        z-index: -1;
        top: 80vh;
        right: 5vw;
        width: 500px;
        height: 500px;
        border-radius: 50%;
        background: repeating-linear-gradient(-45deg, var(--pink), var(--pink) 10px, var(--opacity) 10px, var(--opacity) 20px);
    }

    #radius-circle {
        display: flex;
        grid-column: 1 / 1;
        position: absolute;
        z-index: 100;
        bottom: 90px;
        left: 0px;
        margin: 0px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 2px solid var(--blue);
    }
    
    #radius-circle_2 {
        display: flex;
        grid-column: 1 / 1;
        position: absolute;
        z-index: 100;
        top: 10px;
        left: 50px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 2px solid var(--pink); 
    }
    
    #line-anim {
        display: flex;
        grid-column: 4 / 4;
        position: absolute;
        z-index: 100;
        top: 0;
        right: 10px;
        width: 2px;
        height: 1px;
        background: var(--blue);
        animation: line-anim 10s 0s ease-in-out alternate infinite;
        -webkit-animation: line-anim 10s 0s ease-in-out alternate infinite;
        -moz-animation: line-anim 12s 0s ease-in-out alternate infinite;
        -ms-animation: line-anim 12s 0s ease-in-out alternate infinite;
        -o-animation: line-anim 12s 0s ease-in-out alternate infinite;
    }
}

/*======================end of==============================
======================mobile CSS==========================*/


/*============================================================
====================keyframes animations====================*/

@keyframes rotation {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
    }

@keyframes small-circle {
        from {
          transform: translate(0px, 500px) rotate(0deg);
        }
        to {
          transform: translate(0px, -100px) rotate(360deg);
        }
    }
  
@keyframes big-circle {
        from {
          transform: translate(0px, 0px) rotate(0deg);
        }
        to {
          transform: translate(0px, -1000px) rotate(360deg);
        }
    }

@keyframes blink-animation {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
      }

@keyframes line-anim {
        0% {
            transform: scaleY(0.0);
        }
        50% {
            transform: scaleY(1500.0);
        }
        100% {
            transform: scaleY(0.0);
        }
    }

/*mobile animation for line-anim*/
@media screen and (max-width:921px) {

    @keyframes line-anim {
        0% {
            transform: scaleY(0.0);
        }
        50% {
            transform: scaleY(500.0);
        }
        100% {
            transform: scaleY(0.0);
        }
    }
}

/*========================end of==============================
====================keyframes animations====================*/