:root {
    background-color: #150941;
}

body{
    min-height: 100vh;
    overflow: hidden;
    margin: 0%;
}

.welcome {
    z-index: 1;
    font-family: 'Faster One';
    font-size: 90pt;
    color: #f80040;
    text-align: center;
    margin-top: 400px;
}

.welcometag {
    text-align: center;
    position: relative;
    font-family: 'K2D';
    font-size: 40pt;
    color: white;
    text-decoration: none;      
}

.welcometag:hover{
    color: #f80040;
}

.blink {
    color:#f80040;
    position: relative;
    display: inline-block;
    animation: blink-animation 1s linear infinite;
    -webkit-animation: blink-animation 1s linear infinite;
}

#small_circle { 
    display: block;
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background: linear-gradient(#f80040, #150941);
    animation: small-circle 3s ease-in-out 0s infinite alternate;
    -moz-animation: small-circle 3s ease-in-out 0s infinite alternate;
    -ms-animation: small-circle 3s ease-in-out 0s infinite alternate;
    -o-animation: small-circle 3s ease-in-out 0s infinite alternate;
    -webkit-animation: small-circle 3s ease-in-out 0s infinite alternate;
    }

#medium_circle { 
    display: block;
    position: absolute;
    z-index: 0;
    top: 120px;
    left: calc(10% + 50px);
    width: 200px;
    height: 200px;
    opacity: 0.7;
    border-radius: 100px;
    background: linear-gradient(#f80040, #150941);
    animation: rotation 8s linear infinite;
    -moz-animation: rotation 8s linear infinite;
    -ms-animation: rotation 8s linear infinite;
    -o-animation: rotation 8s linear infinite;
    -webkit-animation: rotation 8s linear infinite;
    }

#big_circle { 
    display: block;
    position: absolute;
    z-index: -1;
    left: calc(50% + 250px);
    bottom: 0;
    height: 400px;
    width: 400px;
    opacity: 0.4;
    border-radius: 200px;
    background: linear-gradient(#f80040, #150941);
    animation: big-circle 15s ease-in-out 0s infinite alternate;
    -moz-animation: big-circle 15s ease-in-out 0s infinite alternate;
    -ms-animation: big-circle 15s ease-in-out 0s infinite alternate;
    -o-animation: big-circle 15s ease-in-out 0s infinite alternate;
    -webkit-animation: big-circle 15s ease-in-out 0s infinite alternate;
    }

#dotted_circle {
    display: block;
    position: absolute;
    z-index: -1;
    left: calc(50% + 250px);
    top: 70px;
    height: 1000px;
    width: 1000px;
    border-radius: 600px;
    border: 3px dashed white;
    animation: rotation 60s linear infinite;
    -moz-animation: rotation 60s linear infinite;
    -ms-animation: rotation 60s linear infinite;
    -o-animation: rotation 60s linear infinite;
    -webkit-animation: rotation 60s linear infinite;
}

#giant_circle {
    display: block;
    position: absolute;
    z-index: -1;
    opacity: .9;
    top: 600px;
    left: calc(10% + -250px);
    width: 600px;
    height: 600px;
    border-radius: 300px;
    background: repeating-linear-gradient(-45deg, #f80040, #f80040 10px, #150941 10px, #150941 20px);
}
  
#red_dotted_circle {
    display: block;
    position: absolute;
    z-index: 0;
    right: calc(50% + 250px);
    top: -500px;
    height: 1000px;
    width: 1000px;
    border-radius: 1000px;
    border: 3px dashed #f80040;
    animation: rotation 60s linear infinite;
    -moz-animation: rotation 60s linear infinite;
    -ms-animation: rotation 60s linear infinite;
    -o-animation: rotation 60s linear infinite;
    -webkit-animation: rotation 60s linear infinite;
  }

.background span {
    z-index: -2;
    width: 5vmin;
    height: 5vmin;
    color: rgb(238, 167, 14);
    box-shadow: 5px;
    border-radius: 20vmin;
    backface-visibility: hidden;
    position: absolute;
    animation-name: move;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    }


@keyframes rotation {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
    }

@keyframes small-circle {
        from {
          transform: translate(0px, 500px) rotate(0deg);
        }
        to {
          transform: translate(0px, -100px) rotate(360deg);
        }
    }
  
@keyframes big-circle {
        from {
          transform: translate(0px, 300px) rotate(0deg);
        }
        to {
          transform: translate(0px, -900px) rotate(360deg);
        }
    }

@keyframes blink-animation {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
      }
