@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css?family=K2D");
@import url("https://fonts.googleapis.com/css?family=Faster One");

/*tutorial found on youtube for both mobile and desktop navbar, found here:
    https://www.youtube.com/watch?v=8QKOaTYvYUA - author: Kevin Powell*/


:root {
    background-color: #150941;
    color:white;
    font-family: 'K2D';
    --bg_opacity: #f7195000;
    --pink: #f71950;
    --blue: #150941;
}

/*==========================================================
============custom scrollbar styling here=================*/

::-webkit-scrollbar { /*===width of the scrollbar===*/
    width: 3px;
}
  
::-webkit-scrollbar-track {  /*===color of track===*/
    background: var(--blue);
}
  
::-webkit-scrollbar-thumb { /*===color of handle===*/
    background: var(--pink);
}
  
::-webkit-scrollbar-thumb:hover { /*===color of handle on hover===*/
    background: #720b25;
}

/*===================end of=================================
============custom scrollbar styling here=================*/

html, body{
    min-height: 100vh;
    margin:0%;
    overflow: hidden;
    position: relative;
}

/*==========================================================
==========mobile/responsive navbar styling here===========*/

header {
    background-color: var(--blue);
    text-align: center;
    position: fixed;
    width: 100%;
    height: 60px;
    z-index: 999;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 3.5rem;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.nav-toggle-label span, 
.nav-toggle-label span::before, 
.nav-toggle-label span::after {
    display: block;
    background-color: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span:hover,
.nav-toggle-label span:hover::before,
.nav-toggle-label span:hover::after {
    background-color: var(--pink);
}

/*.nav-toggle-label span:active,
.nav-toggle-label span:active::before,
.nav-toggle-label span:active::after {
    background-color: var(--pink);
}*/

.nav-toggle-label span::before, 
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

.logo {
    height: 50%;
    width: auto;
    margin-left: -80px;
    margin-top: 14px; 
}

nav {
    position:absolute;
    text-align: right;
    top: 100%;
    right: 0;
    background-color: var(--pink);
    width: 100%;
    height: 100vmax;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 500ms ease-in-out;
}

nav ul {
    margin-left: 0;
    list-style: none;
    margin-top: 5em;
}

nav li {
    margin-bottom: 1em;
    margin-right: 5em;
    padding: 2em;
}

nav a {
    text-decoration: none;
    font-size: 1.2rem;
    font-family: 'K2D';
    opacity: 0;
    transition: opacity 100ms ease-in-out;
}

nav a:hover {
    color: var(--pink);
}

.nav-toggle:checked ~ nav {
    transform: scale(1, 1); 
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: var(--pink);
    position: relative;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transform-origin: right;
    transition: transform ease-in-out 250ms;
}

nav a:hover::before {
    transform: scale(1, 1);
}

/*=======================end of=============================
==========mobile/responsive navbar styling here===========*/



/*==========================================================
===============desktop navbar styling here================*/

@media screen and (min-width: 920px) { 
    
    .nav-toggle-label {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
        position: fixed;
        height: 75px;
    }

    .logo {
        display: block;
        grid-column: 1 / 3;
        align-items: center;
        margin-left: 5em;
        margin-top: 20px;
        width: auto;
        height: auto;
    }

    nav {
        all: unset;
        display: flex;
        grid-column:  3/ 5;
        justify-content: flex-end;
        white-space: nowrap;  
    }

    nav ul {
        position: relative;
        display: flex;
        bottom: 8px;
        margin-top: auto;    
    }

    nav li {
        margin-left: 5em;
        margin: 0; 
    }

    nav a {
        opacity: 1;
        position: relative;
    }

    nav a::before {
        content: '';
        display: block;
        height: 5px;
        background: var(--pink);
        position: absolute;
        top: -0.5em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transform-origin: right;
        transition: transform ease-in-out 250ms;
    }

    nav a:hover::before {
        transform: scale(1, 1);
    }
}

/*======================end of==============================
===============desktop navbar styling here================*/



/*==========================================================
================desktop styling here======================*/


.card {
    background-color: var(--pink);
    z-index: 1;
    position: relative;
    margin: auto;
    top: 210px;
    height: 60vh;
    width: 80%;
    box-shadow: 0px 20px 10px -12px rgb(0, 0, 0);
    border-radius: 30px;
    opacity: 0.9;
    display: grid;
    grid-template-columns: auto minmax(100px, max-content) repeat(auto-fit, 200px) 20%;
}

.wrapper {
    position: absolute;
    width: 200%;
    display: flex;
    grid-column:  1/ 4;
    justify-content: flex-start;
    top: 20px;
}

.slideIn {
    color: white;
    position: relative;
    z-index: 2;
    font-size: 50pt;
    text-align: right;
    left: -2000px;
    opacity: 1;
    animation: slideIn 0.25s forwards;
    -webkit-animation: slideIn 0.25s forwards;
    animation-delay: 0.75s;
    -webkit-animation-delay: 0.75s;
}

.pgheader_hr {
    background-color: white;
    border: 0px;
    height: 8px;
    width: auto;
    padding-left: 450px;
    margin: auto;
}

.selfie {
    display: flex;
    grid-column:  3/ 4;
    position: relative;
    justify-items: center;
    margin: 0 auto 0 auto;
    top: 175px;
    width: 175px;
    height: 175px;
    object-fit: cover;
    border: 2px solid white;
    border-radius: 50%;
    border-radius: 300px;
    box-shadow: 0 0 0 0 white;
    animation: pulse 2s infinite;
}

.socialmedia {
    display: flex;
    grid-column:  3/ 4;
    justify-content: space-evenly;
    top: 200px;
    color: var(--blue);
    position: inherit;
    font-size: 30pt;
    text-align: center;  
}

.content {
    display: flex;
    grid-column:  4/ 6;
    bottom: 10px;
    height: 200px;
    width: 400px;
    font-size: 1.1rem;
    position: relative;
    text-align: justify;
}

.contact_info {
    display: block;
    grid-column:  4/ 6;
    bottom: 75px;
    height: 200px;
    width: 400px;
    font-size: 1.2rem;
    position: relative;
    text-align: justify;
}

.port {
    font-size: 3rem;
    font-family: 'Faster One';
    font-weight: 100;
    text-align: center;
    margin: auto;
}

span {
    content: '';
    width: 100%;
    }

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #150941;
    font-weight: bold;
}

footer {
    background-color: #f7195000;
    height: 40px;
    right: 0;
    bottom: 0;
    width: 100%;
    position: fixed;
    opacity: 0.9;
    z-index: 1;
}

footer p {
    font-family: 'K2D';
    text-align: center;
    line-height: 50%;
    color: var(--pink);
    font-weight: bold;
    font-size: 15pt;
    text-shadow: #fff;
}

/*====================end of================================
================desktop styling here======================*/


/*==========================================================
================mobile styling here=======================*/

@media screen and (max-width:920px) {

html, body{
    min-height: 100vh;
    margin:0%;
    overflow: auto;
    position: relative;
}

.card {
    background-color: var(--pink);
    z-index: 1;
    position: relative;
    margin: 0 auto 0 auto;
    top: 80px;
    height: 900px;
    width: 80%;
    box-shadow: 0px 20px 10px -12px rgb(0, 0, 0);
    border-radius: 30px;
    opacity: 0.9;
    display: grid;
    grid-template-columns: minmax(0, 1fr) 200px;
}

.wrapper {
    position: relative;
    width: 100%;
    display: flex;
    grid-column:  1/ 4;
    justify-content: flex-start;
    top: 15px;
}

.slideIn {
    color: white;
    position: relative;
    z-index: 2;
    font-size: 3.5rem;
    text-align: left;
    left: -2000px;
    width: 60%;
    opacity: 1;
    animation: slideIn 0.25s forwards;
    -webkit-animation: slideIn 0.25s forwards;
    animation-delay: 0.75s;
    -webkit-animation-delay: 0.75s;
}

.pgheader_hr {
    background-color: white;
    border: 0px;
    height: 5px;
    width: auto;
    padding-left: 0px;
    margin: auto;
}

.selfie {
    display: flex;
    grid-column:  1/ 3;
    position: relative;
    justify-items: center;
    margin: 0 auto 0 auto;
    right: 0vw;
    top: 0vh;
    background-color: white;
    width: 120px;
    height: 120px;
    object-fit: cover;
    border: 2px solid white;
    border-radius: 50%;
    border-radius: 300px;
    box-shadow: 0 0 0 0 white;
    animation: pulse 2s infinite;
}

.socialmedia {
    display: flex;
    grid-column:  1/ 3;
    justify-content: space-evenly;
    top: 0px;
    right: 0vw;
    color: var(--blue);
    position: inherit;
    font-size: 25pt;
    text-align: center; 
}

.insta-hover:hover{
    font-size: 35pt;
}

.fa-hover:hover{
    font-size: 35pt;
}

.content {
    display: flex;
    grid-column:  1/ 3;
    position: relative;
    justify-content: center;
    margin: 0 auto 0 auto;
    right: 0vw;
    top: 0;
    bottom: 0px;
    height: 10%;
    width: 80%;
    font-size: 1em;
    text-align: left;
}

.contact_info {
    display: block;
    grid-column:  1/ 3;
    position: relative;
    justify-content: center;
    margin: 0 auto 0 auto;
    right: 0vw;
    top: 0;
    bottom: 0px;
    height: 10%;
    width: 80%;
    font-size: 1em;
    text-align: left;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #150941;
    font-weight: bold;
}

footer {
    background-color: var(--blue);
    height: 4vh;
    right: 0;
    bottom: 0;
    width: 100%;
    position: fixed;
    opacity: 0.9;
    z-index: 1;
}

footer p {
    line-height: 0;
    text-align: center;
    color: var(--pink);
    font-weight: bold;
    font-size: 1rem;
    text-shadow: #fff;
}

.welcome {
    display: block;
    grid-column: 2 / 3;
    justify-content: normal;
    align-items: flex-start;
    margin: 0 auto 0 auto;
    z-index: 1;
    font-family: 'Faster One';
    font-size: 3.5rem;
    color: var(--pink);
    text-align: center;
    margin-top: 40vh;
}

.welcometag {
    text-align: center;
    position: relative;
    font-family: 'K2D';
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.2rem;
    text-decoration: none;
}
    
.welcometag:hover{
    color: var(--pink);
}
    
.blink {
    color: var(--pink);
    position: relative;
    display: inline-block;
    animation: blink-animation 1s linear infinite;
    -webkit-animation: blink-animation 1s linear infinite;
}

.circles {
    width: 100%;
    height: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

}

/*====================end of================================
================mobile styling here=======================*/



/*===================desktop=================================
=================circle animations==========================*/

.circles {
    width: 100%;
    height: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

#small_circle { 
    display: flex;
    grid-column: 1 / 2;
    position: absolute;
    justify-content: center;
    z-index: 0;
    top: 0px;
    left: 0px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: linear-gradient(white, var(--blue));    
    animation: small-circle 3s ease-in-out 0s infinite alternate;
    -moz-animation: small-circle 3s ease-in-out 0s infinite alternate;
    -ms-animation: small-circle 3s ease-in-out 0s infinite alternate;
    -o-animation: small-circle 3s ease-in-out 0s infinite alternate;
    -webkit-animation: small-circle 3s ease-in-out 0s infinite alternate;
}

#medium_circle { 
    display: flex;
    grid-column: 1 / 2;
    position: absolute;
    z-index: 0;
    top: 120px;
    left: 200px;
    width: 200px;
    height: 200px;
    opacity: 0.7;
    border-radius: 50%;
    background: linear-gradient(var(--pink), var(--blue));
    animation: rotation 8s linear infinite;
    -moz-animation: rotation 8s linear infinite;
    -ms-animation: rotation 8s linear infinite;
    -o-animation: rotation 8s linear infinite;
    -webkit-animation: rotation 8s linear infinite;
}

#big_circle { 
    display: flex;
    grid-column: 3 / 4;
    position: absolute;
    z-index: -1;
    right: 200px;
    bottom: 350px;
    height: 400px;
    width: 400px;
    opacity: 0.4;
    border-radius: 50%;
    background: linear-gradient(var(--pink), var(--blue));
    animation: big-circle 15s ease-in-out 0s infinite alternate;
    -moz-animation: big-circle 15s ease-in-out 0s infinite alternate;
    -ms-animation: big-circle 15s ease-in-out 0s infinite alternate;
    -o-animation: big-circle 15s ease-in-out 0s infinite alternate;
    -webkit-animation: big-circle 5s ease-in-out 0s infinite alternate;
}

#dotted_circle {
    display: flex;
    grid-column: 4 / 4;
    position: absolute;
    z-index: -1;
    right: -350px;
    top: 70px;
    height: 1000px;
    width: 1000px;
    border-radius: 50%;
    border: 3px dashed white;
    animation: rotation 60s linear infinite;
    -moz-animation: rotation 60s linear infinite;
    -ms-animation: rotation 60s linear infinite;
    -o-animation: rotation 60s linear infinite;
    -webkit-animation: rotation 60s linear infinite;
}

#red_dotted_circle {
    display: flex;
    grid-column: 1 / 1;
    position: absolute;
    z-index: 0;
    left: -300px;
    top: -500px;
    height: 1000px;
    width: 1000px;
    border-radius: 50%;
    border: 3px dashed var(--pink);
    animation: rotation 60s linear infinite;
    -moz-animation: rotation 60s linear infinite;
    -ms-animation: rotation 60s linear infinite;
    -o-animation: rotation 60s linear infinite;
    -webkit-animation: rotation 60s linear infinite;
}

#giant_circle {
    display: flex;
    grid-column: 1 / 2;
    position: absolute;
    z-index: -1;
    top: 600px;
    left: -100px;
    width: 700px;
    height: 700px;
    border-radius: 50%;
    background: repeating-linear-gradient(-45deg, var(--pink), var(--pink) 10px, var(--blue) 10px, var(--blue) 20px);
}


/*===================mobile=================================
=================circle animations==========================*/

@media screen and (max-width:920px) {



#small_circle { 
    display: flex;
    grid-column: 1 / 2;
    position: absolute;
    justify-content: center;
    z-index: 0;
    top: -100px;
    left: 0px;
    height: 7vw;
    width: 7vw;
    border-radius: 50%;
    background: linear-gradient(white, var(--blue));    
    animation: small-circle 3s ease-in-out 0s infinite alternate;
    -moz-animation: small-circle 3s ease-in-out 0s infinite alternate;
    -ms-animation: small-circle 3s ease-in-out 0s infinite alternate;
    -o-animation: small-circle 3s ease-in-out 0s infinite alternate;
    -webkit-animation: small-circle 3s ease-in-out 0s infinite alternate;
}

#medium_circle { 
    display: flex;
    grid-column: 1 / 2;
    position: absolute;
    z-index: 0;
    top: 120px;
    left: 20vw;
    width: 20vw;
    height: 20vw;
    opacity: 0.7;
    border-radius: 50%;
    background: linear-gradient(var(--pink), var(--blue));
    animation: rotation 8s linear infinite;
    -moz-animation: rotation 8s linear infinite;
    -ms-animation: rotation 8s linear infinite;
    -o-animation: rotation 8s linear infinite;
    -webkit-animation: rotation 8s linear infinite;
}

#big_circle { 
    display: flex;
    grid-column: 3 / 4;
    position: absolute;
    z-index: -1;
    left: 25vw;
    bottom: 0px;
    height: 35vw;
    width: 35vw;
    opacity: 0.4;
    border-radius: 50%;
    background: linear-gradient(var(--pink), var(--blue));
    animation: big-circle 15s ease-in-out 0s infinite alternate;
    -moz-animation: big-circle 15s ease-in-out 0s infinite alternate;
    -ms-animation: big-circle 15s ease-in-out 0s infinite alternate;
    -o-animation: big-circle 15s ease-in-out 0s infinite alternate;
    -webkit-animation: big-circle 5s ease-in-out 0s infinite alternate;
}

#dotted_circle {
    display: flex;
    grid-column: 4 / 4;
    position: absolute;
    z-index: -1;
    right: 50vw;
    top: -30vh;
    height: 100vw;
    width: 100vw;
    border-radius: 50%;
    border: 3px dashed white;
    animation: rotation 60s linear infinite;
    -moz-animation: rotation 60s linear infinite;
    -ms-animation: rotation 60s linear infinite;
    -o-animation: rotation 60s linear infinite;
    -webkit-animation: rotation 60s linear infinite;
}

#red_dotted_circle {
    display: flex;
    grid-column: 1 / 1;
    position: absolute;
    z-index: 0;
    left: 60vw;
    top: 30vh;
    height: 90vw;
    width: 90vw;
    border-radius: 50%;
    border: 3px dashed var(--pink);
    animation: rotation 60s linear infinite;
    -moz-animation: rotation 60s linear infinite;
    -ms-animation: rotation 60s linear infinite;
    -o-animation: rotation 60s linear infinite;
    -webkit-animation: rotation 60s linear infinite;
}

#giant_circle {
    display: flex;
    grid-column: 1 / 2;
    position: absolute;
    z-index: -1;
    top: 80vh;
    right: 5vw;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: repeating-linear-gradient(-45deg, var(--pink), var(--pink) 10px, var(--blue) 10px, var(--blue) 20px);
}

}


/*============================================================
==================other animations==========================*/

@keyframes slideIn {
        100% {
            left: 0;
        }
    }

@-webkit-keyframes slideIn {
        100% {
            left: 0;
        }
    }
  
@keyframes rotation {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
    }

@keyframes small-circle {
        from {
          transform: translate(0px, 500px) rotate(0deg);
        }
        to {
          transform: translate(0px, -100px) rotate(360deg);
        }
    }
  
@keyframes big-circle {
        from {
          transform: translate(0px, 300px) rotate(0deg);
        }
        to {
          transform: translate(0px, -900px) rotate(360deg);
        }
    }

@keyframes blink-animation {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

@keyframes pulse {
        0% {
          transform: scale(0.95);
          box-shadow: 0 0 0 0 #ffffffbb;
        }
        
        70% {
          transform: scale(1);
          box-shadow: 0 0 0 10px #ffffff00;
        }
        
        100% {
          transform: scale(0.95);
          box-shadow: 0 0 0 0 #ffffffbb;
        }
    }

